<div class="centered centered-form">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title text-center">Reset Password</h3>
        </div>
        <div class="panel-body">
            <form id="forgot_form">

                <div class="form-group">
                    <label class="hidden" for="email">Email address</label>
                    <div class="input-group">
                        <div class="input-group-addon"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span></div>
                        <input type="email" class="form-control" id="email" name="email" placeholder="Enter your mail">
                    </div>
                </div>
            
                <button type="submit" class="btn btn-primary">Reset</button>
                <span>or
                    <a href="/"  class="text-primary">Go to Home Page</a>
                </span>
            </form>
        </div>
    </div>
</div>


    <script>
        // Form Validation
        $("#forgot_form").on('submit', function(e) {
            e.preventDefault();
            
            const user = {
                email: $('#email').val(),
            }

            $.ajax({
                type:'POST',
                url:'/forgot-password',
                data: JSON.stringify(user),
                contentType: 'application/json',
                success: (data)=>{
                    alert("Check your Email");
                    window.location.href = '/login';
                },
                error:(err)=>{
                    const { message } = err.responseJSON;
                    alert(message);
                }
            })
        });
    </script>