<div class="centered centered-form">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title text-center text-uppercase">Log In</h3>
        </div>
        <div class="panel-body">

            <form id="login_form">

                <div class="form-group">
                    <label class="hidden" for="email">Email address</label>
                    <div class="input-group">
                        <div class="input-group-addon"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span></div>
                        <input type="email" class="form-control" id="email" name="email" placeholder="Enter your mail">
                    </div>
                </div>

                <div class="form-group">
                    <label class="hidden" for="password">Password</label>
                    <div class="input-group">
                        <div class="input-group-addon"><span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span></div>
                        <input type="password" class="form-control" id="password" name="password" placeholder="Enter your password">
                    </div>
                </div>
        
                <button type="submit" class="btn btn-primary btn-block">Log in</button>
                <br/>
                <div>{{>forgot}}</div>
                <hr>
                <div class="text-center text-primary">
                    <a href="/register" class="text-primary">Don't have an account?
                    <strong>Register</strong></a>
                </div>
            </form>


        </div>
    </div>
</div>
    


    <script>
        // Form Validation
        $("#login_form").on('submit', function(e) {
            e.preventDefault();
            
            const user = {
                email: $('#email').val() ,
                password: $('#password').val() 
            }

            $.ajax({
                type:'POST',
                url:'/login',
                data: JSON.stringify(user),
                contentType: 'application/json',
                success: (data)=>{
                    window.location.href = '/dashboard'
                },
                error:(err)=>{
                    const { message } = err.responseJSON;
                    alert(message);
                }
            })
        });
    </script>