
<div class="centered centered-form">
    <div class="panel panel-default">

        <div class="panel-heading">
            <h3 class="panel-title text-center text-uppercase">Register for free</h3>
        </div>
        <div class="panel-body">


        <form id="register_form">
    
            <div class="form-group">
                <label class="hidden" for="username">Username</label>
                <div class="input-group">
                    <div class="input-group-addon"><span class="glyphicon glyphicon-user" aria-hidden="true"></span></div>
                    <input type="text" class="form-control" id="username" name="username" placeholder="Pick a username">
                </div>
            </div>
    
            <div class="form-group">
                <label class="hidden" for="firstname">First Name</label>
                <div class="input-group">
                    <div class="input-group-addon"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></div>
                    <input type="text" class="form-control" id="firstname" name="firstname" placeholder="Your Firstname">
                </div>
            </div>
    
            <div class="form-group">
                <label class="hidden" for="lastname">Last Name</label>
                <div class="input-group">
                    <div class="input-group-addon"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></div>
                    <input type="text" class="form-control" id="lastname" name="lastname" placeholder="Your Lastname">
                </div>
            </div>
    
            <div class="form-group">
                <label class="hidden" for="email">Email address</label>
                <div class="input-group">
                    <div class="input-group-addon"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span></div>
                    <input type="text" class="form-control" id="email" name="email" placeholder="youremail@email.com">
                </div>
            </div>
    
            <div class="form-group">
                <label class="hidden" for="password">Password</label>
                <div class="input-group">
                    <div class="input-group-addon"><span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span></div>
                    <input type="password" class="form-control" id="password" name="password" placeholder="Enter your password">
                </div>
            </div>

            <div class="form-group">
                <label class="hidden" for="password_confirm">Confirm Password</label>
                <div class="input-group">
                    <div class="input-group-addon"><span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span></div>
                    <input type="password" class="form-control" id="password_confirm" name="password_confirm" placeholder="Re-enter your password">
                </div>
            </div>

            <button type="submit" class="btn btn-primary btn-block">Register</button>

            <hr>
            <div class="text-center text-primary">
                <a href="/login" class="text-primary">Have an account already?
                <strong>Login</strong></a>
            </div>

        </form>



        </div>
    </div>
</div>



    <script>
        // Form Validation
        $("#register_form").validate({
                rules: {
                    username:"required",
                    firstname: "required",
                    lastname: "required",
                    email: {
                       required: true,
                       email: true
                    },
                    password: {
                        required: true,
                        minlength: 5
                    },
                    password_confirm: {
                        required: true,
                        minlength: 5,
                        equalTo: "#password"
                    }
                },
                messages: {
                    username:"Please add a username",
                    name: "Please enter your firstname",
                    lastname: "Please enter your lastname",
                    email:"Please enter a valid email",
                    password:{
                        required:"The password is required",
                        minlength:"The min is 5 characters"
                    },
                    password_confirm:"Password is not the same :S"
                },
                submitHandler: function(form,event) {
                    event.preventDefault();
                    submitForm();
                }
            });

        function submitForm(){
            const user = {
                username: $('#username').val() ,
                firstname: $('#firstname').val() ,
                lastname: $('#lastname').val() ,
                email: $('#email').val() ,
                password: $('#password').val() 
            }

            $.ajax({
                type:'POST',
                url:'/register',
                data: JSON.stringify(user),
                contentType: 'application/json',
                success: (data)=>{
                    window.location.href = '/dashboard'
                },
                error:(err)=>{
                    if(err.responseJSON.message)return alert(err.responseJSON.message)
                    alert('There was a problem with your request. Please try again.')
                }
            })
        }

    </script>