<div class="centered centered-form">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title text-center">Update your Password</h3>
        </div>
        <div class="panel-body">

        {{#if validURI}}
        <form id="reset_form">
            <div>
                <input type="hidden" id="resetToken" name="resetToken" value="{{resetToken}}">
            </div>
        
            <div class="form-group">
                <label class="hidden" for="password">Password</label>
                <div class="input-group">
                    <div class="input-group-addon"><span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span></div>
                    <input type="password" class="form-control" id="password" name="password" placeholder="Enter your New Password">
                </div>
            </div>
            
            <div class="form-group">
                <label class="hidden" for="password_confirm">Confirm Password</label>
                <div class="input-group">
                    <div class="input-group-addon"><span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span></div>
                    <input type="password" class="form-control" id="password_confirm" name="password_confirm"
                        placeholder="Confirm your New Password">
                </div>
            </div>
        
            <button type="submit" class="btn btn-primary">Submit</button>
            <span>or
                <a href="/" class="text-primary">Cancel</a>
            </span>
        </form>
        {{else}}
        
        <div>
            Your <strong>Reset Link</strong> has expired or <strong>This is an invalid URI</strong>.<br><br>
            Please check your email for correct link or request a <strong><a href="/forgot-password">New Reset
                    Link</a></strong>.
        </div>
        
        {{/if}}

        </div>
    </div>
</div>


    <script>
        // Form Validation
            // Form Validation
            $("#reset_form").validate({
                rules: {
                    password: {
                        required: true,
                        minlength: 5
                    },
                    password_confirm: {
                        required: true,
                        minlength: 5,
                        equalTo: "#password"
                    }
                },
                messages: {
                    password: {
                        required: "The password is required",
                        minlength: "The min is 5 characters"
                    },
                    password_confirm: "Password is not the same :S"
                },
                submitHandler: function (form, event) {
                    event.preventDefault();
                    submitForm();
                }
            });

            function submitForm() {
                const user = {
                    resetToken: $('#resetToken').val(),
                    password: $('#password').val()
                }
                $.ajax({
                    type: 'POST',
                    url: '/reset-password',
                    data: JSON.stringify(user),
                    contentType: 'application/json',
                    success: () => {
                        alert("Password changed successfully! Log In to dashboard");
                        window.location.href = '/login'
                    },
                    error: (err) => {
                        const { message } = err.responseJSON;
                        alert(message);
                    }
                })
            }

    </script>